@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400;700;900&display=swap');

html {
    overflow: hidden;
    touch-action: none;
    content-zooming: none;
}
body {
    margin: 0;
    padding: 0;
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    visibility: hidden;
}
.prx {
    position: absolute;
    color: #FFF;
    font-family: 'Prompt', sans-serif;
    font-size:1.5em;
    overflow: hidden;
}
.button {
    cursor:default;
    font-size:3em;
    width:400px;
    text-decoration: none;
}
.button:hover {
    color: #B11D23;
}
.txt {
    color:#777;
}



.lightbox-toggle {
    color: #DD3224;
}

.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;

}

.box {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    align-items:center;
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    background: #DD3224;
    color: #F0EEF3;
    padding: 20px;
    border-radius: 5px;
    overflow: visible;
    -webkit-overflow-scrolling: touch;

    * {
        z-index: 3;
    }    
}
.close {
    font-family: 'Taviraj', serif;
    font-weight: 700;
    color: #333333;
    text-align: right;
    cursor: pointer;
}